:root {
  
  --cor-primaria: #012C70;   
  --cor-secundaria: #F5F5F5; 
  --cor-destaque: #000000;   
  --cor-fundo: #1c54e291;      
  --cor-texto: #333333;      
}

body{
    background-color: var(--cor-fundo);
    margin: auto;
}


.header{
    border-style: solid;
    min-width: 1200px;
    max-width: 300px;
    margin: 0 auto;
    height: 90px;
    padding-left: 40px;
    padding-top: 15px ;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border-radius: 20px;
    box-shadow: -1px 2px 10px black;
    text-shadow: -10px 8px 20px black;
}

.logo-header{
    display: flex;
    font-family: monospace;
    font-size: 18px;
}

.nome-empresa{
    margin: 0 auto;

}

.logo-header>img{
    border-radius: 10px;
}

.container-geral{
    margin: 0 auto;
    margin-top: 130px;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor-primaria);
    box-shadow: -1px 2px 10px black;
    
}

.login{
   text-shadow: -1px 2px 10px black; 
   text-align: center;
   color: var(--cor-secundaria);
   font-size: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.login>input{
    border-radius: 10px;
    padding: 20px;
    height: 10px;
    font-size: 15px;
    background-color: var(--cor-secundaria);
    color: var(--cor-destaque);
    box-shadow: -10px 6px 10px black;
    text-shadow: 2px 1px 20px black;
}

.sign-in{
    text-align: center;
}

.sign-in>button{
    padding: 10px;
    border-radius: 10px;
    background-color: #4F46E5;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: --4px 3px 10px black;

}

.cadastre-se{
    text-align: center;
}

.cadastre-se>a{
    text-decoration: none;
    color: var(--cor-secundaria);

}




.esqueceu-senha{
    text-align: center;
    
}

.esqueceu-senha>a{
    text-decoration: none;
    color: white;

}


.linkedin{
    text-align: center;
    margin-top: 15px;
}

