body{
    margin: 0;
    width: 100%;
}

/* HEADER E CABEÇALHO, BOTOES E PESQUISAS */

header{
    background-color: black;
    padding: 10px;
    border-radius: 1px;
    text-align: center;
    display: block;
    max-width: 20000px;
    min-width: 200px;
    

}

header>a{
    color: white;
    padding-left: 23px ;
    padding-right: 10px;
    text-align: center;
}
#helpcenter{
    padding-right: 150px;
}

#submit{
    padding: 7px;
    border-radius: 10px;
}
#sign-in{
    background-color: #4C5FD5;
    color: white;
    padding: 7px;
    border-radius: 10px;

    
}

#sign-in:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


#search-bottom{
    padding: 5px;
    border-radius: 7px;
    padding-left: 10px;
}
#search-bottom:hover{
    background-color: rgba(255, 255, 255, 0.842);
}

#submit:hover{
    cursor: pointer;
}


/* FIM HEADER E CABEÇALHO */

/* PRECISA DE AJUDA E SEARCH BOTTOM DO MEIO */

.precisa-de-ajuda{
    background-color: #DADBF1;
    padding: 35px;
    box-shadow: 3px -5px 20px black;
}

.precisa-de-ajuda>p{
    text-align: center;
    font-size: 45px;
    text-shadow: 3px 9px 20px black;
}

#search-help{
    padding: 10px;
    display: block;
    text-align: center;
    width: 100%;
    min-width: 250px;
    max-width: 750px;
    margin: auto;
   
}

/* FIM DO PRECISA DE AJUDA E SEARCH BOTTOM */

        /* CONTAINER DA FOTO 1 E TEXTO AO LADO */

.container-foto1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 10px 20px black;
    background-color: #959697;
    border-radius: 10px;
    padding: 10px;
    

}

.imagem-1{
    margin: 0;
}

.imagem-1>#foto-manage{
    width: 60px;
}

.texto-foto1{
    font-size: 15px;
}

.texto-foto1>h6{
    margin: 0;
}

.texto-foto1>a{
    font-size: 10px;
    text-decoration: none;

}

 /* FIM DO CONTAINER FOTO 1 E TEXTO */


 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px;
 }


 .footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;
 }

 .footer-1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

 }

 .footer-1>h6{
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .footer-1>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 1px;
    text-align: center;
 }


 